[submodule "lib/Eigen"]
	path = lib/Eigen
	url = https://github.com/MarcEspuna/Eigen.git
[submodule "lib/c_library_v2"]
	path = lib/c_library_v2
	url = https://github.com/MarcEspuna/c_library_v2.git
[submodule "lib/libdw1000"]
	path = lib/libdw1000
	url = https://github.com/MarcEspuna/libdw1000.git
[submodule "tools/rtls-link-manager"]
	path = tools/rtls-link-manager
	url = git@github.com:MarcEspuna/rtls-link-manager.git
